body {
    padding-top: 70px; 
}

.bs-glyphicons-list {
  display:block;
  padding-left: 0;
  list-style: none;
}

.bs-glyphicons li {
  line-height: 1.5;
  text-align: left;
  margin-bottom: 10px;
}

span.glyphicon {
    padding-right: 5px;
}

span.novogeek {
	font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	line-height: 1.8px;
}

div.portfolio {
    padding-top: 10px;
}

.writeup {
    font-size: 15px;
}